.advantages__header {
  margin: 0;
  font-size: 54px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.62px;
  line-height: normal;
  text-align: center;
  margin-bottom: 45px;

  @include vp-1200 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 40px;
  }

  @include vp-768 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 10px;
  }
}

.advantages__number {
  margin: 0;
  font-size: 71px;
  font-family: $ff-secondary;
  font-weight: 700;
  line-height: 71px;
  color: $color-default-white;
  background: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1200 {
    margin: 0;
    font-size: 58px;
    line-height: 58px;
  }

  @include vp-768 {
    margin: 0;
    margin-bottom: 10px;
  }
}

.advantages__tagline {
  font-family: $ff-secondary;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  color: $color-persian-blue;
  margin: 0;

  @include vp-1200 {
    margin: 0;
  }

  @include vp-768 {
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
  }
}

.advantages__title {
  margin: 0;
  font-family: $ff-secondary;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 5px;

  @include vp-1200 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 0;
  }

  @include vp-768 {
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
  }
}

.advantages__text {
  margin: 0;
  font-family: $ff-secondary;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  font-style: normal;

  @include vp-768 {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.advantages__center-text {
  margin: 0;
  font-family: $ff-secondary;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  font-style: normal;
  text-align: center;

  @include vp-1200 {
    max-width: 172px;
    text-align: center;
  }

  @include vp-768 {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.advantages__center-number {
  margin: 0;
  font-size: 71px;
  font-family: $ff-secondary;
  font-weight: 700;
  line-height: 71px;
  color: $color-default-white;
}

.advantages__center-title {
  margin: 0;
  font-family: $ff-secondary;
  font-size: 28px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 35px;

  @include vp-1200 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
  }

  @include vp-768 {
    margin: 0;
    margin-bottom: 15px;
  }
}

.advantages {
  padding: 108px 0 129px;
  background-color: $color-background-ghost-white;

  @include vp-1200 {
    padding: 100px 0;
  }

  @include vp-768 {
    padding: 70px 0 20px;
  }
}

.advantages__content {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 163px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include vp-1200 {
    padding: 0 45px;
  }

  @include vp-768 {
    padding: 0;
  }
}

.advantages__side {
  display: flex;
  justify-content: space-between;
  column-gap: 360px;

  @include vp-1200 {
    justify-content: space-between;
    column-gap: 60px;
  }

  @include vp-768 {
    flex-direction: column;
    padding: 0 15px;
    column-gap: 0;
  }
}

.advantages__side:not(:last-child) {
  margin-bottom: 80px;
  padding-bottom: 80px;
  border-bottom: solid 2px rgba(209, 10, 66, 0.2);

  @include vp-1200 {
    margin-bottom: 50px;
    padding-bottom: 0;
    border: none;
  }

  @include vp-768 {
    margin-bottom: 0;
  }
}

.advantages__primary {
  width: 360px;
  display: flex;

  @include vp-1200 {
    width: 100%;
  }

  @include vp-768 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
}

.advantages__center {
  position: absolute;
  display: flex;
  background-color: $color-background-ghost-white;
  padding:  0 60px;
  max-width: 360px;

  @include vp-1200 {
    position: static;
    padding: 0;
    max-width: 442px;
    width: 442px;
    background-color: $color-background-resolution-blue;
    margin-bottom: 50px;
  }

  @include vp-768 {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.advantages__center-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-background-resolution-blue;
  color: $color-default-white;
  padding: 60px 30px;

  @include vp-1200 {
    padding: 0;
    padding: 45px;
    margin: 0 auto;
  }

  @include vp-768 {
    width: 100%;
    margin: 0;
  }
}

.advantages__left {
  margin-right: 30px;

  @include vp-1200 {
    margin-right: 25px;
  }

  @include vp-768 {
    margin-right: 0;
  }
}

