.catalog {
  background: $color-background-ghost-white;
  padding: 140px 0 120px;
  position: relative;

  @include vp-1200 {
    padding: 115px 45px 98px;
  }

  @include vp-768 {
    padding: 70px 0 65px;
  }
}

.catalog__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 103px;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include vp-1366 {
    padding: 0 45px;
  }

  @include vp-768 {
    padding: 0 15px;
  }
}

.catalog__header {
  font-size: 54px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.62px;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  text-align: center;


  @include vp-1366 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 30px;
  }

  @include vp-768 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 27px;
  }
}

.catalog__decoration {
  position: absolute;
  bottom: -8%;
  right: 0;
  width: 240px;

  @include vp-1200 {
    position: absolute;
    bottom: -3%;
    right: 0;
    width: 306px;
  }

  @include vp-768 {
    display: none;
  }
}

.catalog__decoration img {
  width: 240px;

  @include vp-1200 {
    width: 306px;
    height: auto;
  }
}

.catalog__tabs {
  width: 1366px;

  @include vp-1366 {
    max-width: 100%;
  }
}
