.gym {
  width: 100%;
  background-color: $color-default-white;
  color: $color-default-blue;
}

.gym__container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 120px 103px 235px;

  @include vp-1366 {
    padding: 100px 45px 183px;
  }

  @include vp-768 {
    padding: 63px 0 70px;
  }
}

.gym__main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 60px;

  @media (max-width: $vp-1366) {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}

.gym__description {
  max-width: 355px;
  padding-top: 40px;

  @media (max-width: $vp-1366) {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 502px;
    padding-top: 0;
  }

  @media (max-width: $vp-768) {
    padding: 0 15px;
    align-items: flex-start;
  }
}

.gym__header {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1.44px;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  @media (max-width: $vp-1366) {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 0;
  }

  @media (max-width: $vp-768) {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 5px;
  }
}

.gym__tagline {
  font-family: $ff-secondary;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;

  @media (max-width: $vp-1366) {
    margin-bottom: 32px;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 25px;
  }
}

.gym__text {
  margin: 0;
  padding: 0;
  font-family: $ff-secondary;
  font-weight: 300;
  line-height: 24px;

  @media (max-width: $vp-1366) {
    text-align: center;
  }

  @media (max-width: $vp-768) {
    text-align: left;
  }
}

.gym__text--hidden {
  @media (max-width: $vp-1366) {
    display: none;
  }

  @media (max-width: $vp-768) {
    display: none;
  }
}

.gym__text:not(:last-child) {
  margin-bottom: 10px;

  @media (max-width: $vp-1366) {
    margin-bottom: 45px;
  }

  @media (max-width: $vp-768) {
    margin-bottom: 32px;
  }
}

.gym__image {
  max-width: 660px;

  @media (max-width: $vp-1366) {
    width: 678px;
    height: 345px;
  }

  @media (max-width: $vp-768) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.gym__image picture img {
  @media (max-width: $vp-1366) {
    width: 678px;
    height: 345px;
    object-fit: cover;
  }

  @media (max-width: $vp-768) {
    width: 100%;
    height: 313px;
    object-fit: cover;
    margin-bottom: 40px;
  }
}

.gym-visual {
  position: relative;
}

.gym__video {
  position: absolute;
  width: 364px;
  top: 288px;
  left: -63px;

  @media (max-width: $vp-1366) {
    width: 266px;
    position: absolute;
    top: 75%;
    left: 30%;
  }

  @media (max-width: $vp-768) {
    position: static;
    width: 100%;
    margin: 0 auto;
  }
}
