.header {
  width: 100%;
  background: $gradient-background-conic;
  margin: 0 auto;
}

.header__container {
  width: 100%;
  margin: 0 auto;
  padding: 0 103px;

  @include vp-1366 {
    padding: 0 45px;
  }

  @include vp-768 {
    padding: 0 15px;
  }
}

.header__nav {
  max-width: 1366px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1366 {
    padding: 35px 0 18px;
  }

  @include vp-768 {
    padding: 15px 0;
  }
}

.header__logo {
  color: $color-default-white;
  height: fit-content;

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;

  @media (max-width: $vp-1366) {
    font-size: 24px;
    line-height: normal;
    font-weight: 700;
    letter-spacing: 0.48px;
  }

  @media (max-width: $vp-768) {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
}

.header__icon {
  color: $color-default-white;
}

.header__phone-number {
  color: $color-default-white;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  letter-spacing: 0.78px;

  @media (max-width: $vp-1366) {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.48px;
    line-height: normal;
  }

  @media (max-width: $vp-768) {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
}
