.hero {
  display: flex;
  max-width: 1366px;
  margin: 0 auto;
  margin-top: -52px;
  padding: 0 18px 50px 120px;

  @media (max-width: $vp-1366) {
    margin-top: 0;
    padding: 0;
    padding-bottom: 82px;
    gap: 30px;
  }

  @media (max-width: $vp-768) {
    justify-content: center;
    align-items: center;
  }
}

.hero__column-text {
  margin: 0;
  padding: 0;
  margin-top: 120px;
  color: $color-default-white;
  margin-right: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 377px;
  padding-bottom: 45px;
  box-sizing: border-box;

  @media (max-width: $vp-1366) {
    //justify-content: space-between;
    margin: 0;
    margin-top: 50px;
    max-width: 324px;
    padding: 0;
  }
}

.hero__location {
  font-family: $ff-primary;
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 600;
  text-align: end;
  line-height: 50px;
  text-transform: uppercase;
  padding-right: 50px;
  margin-bottom: 15px;

  @media (max-width: $vp-1366) {
    font-size: 34px;
    letter-spacing: 1.02px;
    padding-right: 0;
    margin-bottom: 0;
  }

  @media (max-width: $vp-768) {
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}

.hero__text-wrapper {
  display: flex;
  margin-bottom: 45px;

  @media (max-width: $vp-1366) {
    margin-bottom: 35px;
  }
}

.hero__name {
  margin: 0;
  padding: 0;
  font-size: 92px;
  font-weight: 600;
  letter-spacing: 4.6px;
  line-height: 110px;
  text-align: end;
  vertical-align: bottom;
  text-transform: uppercase;
  -webkit-text-stroke: 4px;

  @media (max-width: $vp-1366) {
    font-size: 70px;
    letter-spacing: 3.6px;
    line-height: normal;
    font-weight: 700;
    -webkit-text-stroke: 2px;
    text-transform: none;
  }
}

.hero__list {
  min-width: 115px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 120px;
  font-family: $ff-secondary;
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
  text-align: end;
  font-weight: 400;

  @media (max-width: $vp-1366) {
    margin-top: 85px;
  }

  @media (max-width: $vp-768) {
    margin-right: -15px;
  }
}

.hero__column-image {
  min-width: 500px;
  min-height: 556px;

  @media (max-width: $vp-1366) {
    min-width: 324px;
    min-height: 390px;
  }

  @media (max-width: $vp-768) {
    display: none;
  }
}

.hero__column-image picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero__button {
  font-family: $ff-secondary;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: $color-transparent;
  border: solid 4px $color-default-white;
  padding: 20px 55px;

  @media (max-width: $vp-1366) {
    padding: 20px 30px;
  }
}

.hero__item {
  color: $color-default-white;
  text-align: right;
  font-family: $ff-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
