.tabs__controls {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 38px;
  background: none;
  border: none;
  flex-wrap: wrap;

  @include vp-1200 {
    padding: 0 10px;
    margin-bottom: 45px;
  }

  @include vp-768 {
    flex-wrap: wrap;
    margin-bottom: 34px;
    padding: 0;
  }

}

.tabs__control {
  font-family: $ff-secondary;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  opacity: 0.5;
  color: $color-default-blue;
  padding: 0 23px;
  padding-bottom: 11px;
  border-bottom: solid 2px rgba(120, 120, 120, 0.2);

  @include vp-1366 {
    font-size: 18px;
    line-height: 27px;
    padding: 0 27px;
    padding-bottom: 11px;
  }

  @include vp-768 {
    font-size: 16px;
    line-height: 24px;
    padding: 0 23px;
    padding-bottom: 12px;
  }

  &.is-active {
    opacity: 1;
    pointer-events: none;
    padding-bottom: 11px;
    border-bottom: solid 2px $color-venetian-red;
  }

  &:hover,
  &:focus-visible {
    opacity: 1;
    border-bottom: solid 2px $color-venetian-red;
    outline: none;
  }
}

.tabs__control:first-child {
  padding-left: 0;
}

.tabs__control:last-child {
  padding-right: 0;
}

.tabs__content {
  margin-bottom: 0;
  transition: height 0.3s;
}

.tabs__element {
  width: 100%;
  background: $color-transparent;
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabs__cards {
  display: flex;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;

  @include vp-1200 {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  @include vp-768 {
    row-gap: 35px;
  }
}

.tabs__card {
  background-color: $color-default-white;
  width: 360px;
  padding: 7px;

  @include vp-1200 {
    width: 442px;
  }

  @include vp-768 {
    width: 100%;
  }
}

.tabs__card:hover,
.tabs__card:focus-visible {
  outline: none;
  background: $gradient-text-crimson-red-to-cobalt;
}

.tabs__card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 55px 70px 61px;
  background-color: $color-default-white;

  @include vp-1366 {
    width: 100%;
    max-width: 442px;
    padding: 50px 70px 61px;
  }

  @include vp-768 {
    padding: 44px 35px 48px;
    margin: 0 auto;
  }
}

/* .tabs__card:not(:last-child) {
  margin: 0;

  @include vp-1200 {
    margin-bottom: 0;
  }

  @include vp-768 {
    //margin-bottom: 35px;
  }
} */

.tabs__header {
  font-family: $ff-secondary;
  font-size: 26px;
  font-weight: 700;
  line-height: 110%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @include vp-1366 {
    line-height: 152%;
    margin-bottom: 7px;
  }

  @include vp-768 {
    font-size: 22px;
    line-height: 110%;
    margin-bottom: 8px;
  }
}

.tabs__tagline {
  margin: 0;
  padding: 0;
  font-family: $ff-secondary;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 73px;

  @include vp-768 {
    margin-bottom: 11px;
  }
}

.tabs__price-shadow {
  margin: 0;
  padding: 0;
  font-family: $ff-secondary;
  font-size: 100px;
  font-weight: 700;
  color: $color-whisper-gray;

  @include vp-768 {
    font-size: 80px;
    line-height: 120px;
  }
}

.tabs__price {
  margin: 0;
  padding: 0;
  color: $color-egyptian-blue;
  font-family: $ff-secondary;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  margin-top: -33px;
  margin-bottom: 36px;


  @include vp-1366 {
    margin-bottom: 35px;
  }

  @include vp-768 {
    margin-top: -85px;
    font-size: 48px;
    margin-bottom: 23px;
  }
}

.tabs__rub {
  font-family: $ff-rouble;
  color: $color-sapphire-blue;
}

.tabs__rub-icon {
  width: 30px;
  height: 42px;

  @include vp-1200 {
    width: 30px;
    height: 42px;
  }

  @include vp-768 {
    width: 24px;
    height: 33px;
  }
}

.tabs__rub-icon-small {
  display: none;

  @include vp-768 {
    display: inline;
  }
}

.tabs__rub-icon-big {
  @include vp-768 {
    display: none;
  }
}

.tabs__button {
  background: none;
  font-family: $ff-secondary;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: 700;
  line-height: normal;
  padding: 22px 42px;
  border: solid 2px $color-default-white;
  outline: solid 2px $color-default-blue;
  cursor: pointer;
  text-align: center;

  @include vp-768 {
    padding: 22px;
    width: 100%;
  }
}

.tabs__button:hover {
  background: $gradient-button-torch-red-to-cobalt;
  outline: none;
  color: $color-default-white;
  cursor: pointer;
}

.tabs__button:active {
  background: $gradient-button-torch-red-to-cobalt;
  cursor: pointer;
  outline: solid 2px $color-default-blue;
  color: rgba(255, 255, 255, 0.7);
}

.tabs__button:focus-visible {
  background: $gradient-button-torch-red-to-cobalt;
  outline: none;
  color: $color-default-white;
  cursor: pointer;
}
