.trainers {
  width: 100%;
  padding: 0;
  background-color: $color-default-white;

  @include vp-1200 {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 0 34px;
  }

  @include vp-768 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}

.trainers__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 53px 20px 90px;

  @include vp-1200 {
    padding: 0 15px;
  }

  @include vp-768 {
    padding: 0;
  }
}

.trainers__container {
  padding: 0 83px;
  position: relative;

  @include vp-1200 {
    max-width: 768px;
    margin: 0 auto;
    padding: 50px 85px 50px;
  }

  @include vp-768 {
    padding: 25px 47px 54px;
  }
}

.trainers__header {
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
  font-style: normal;
  line-height: normal;
  margin: 0;
  margin-bottom: 32px;

  @include vp-1200 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 15px;
    text-align: center;
  }

  @include vp-768 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 25px;
    text-align: center;
  }
}

.trainers__list {
  list-style: none;
  padding: 0;
}

.trainers__image {
  position: relative;
}

.trainers__image picture img {

  @include vp-1200 {
    width: 268px;
    height: 294px;
    object-fit: cover;
  }

  @include vp-768 {
    width: 100%;
    min-width: 226px;
    height:fit-content;
    aspect-ratio: 1/1.22;
    object-fit: fill;
  }
}

.trainers__name {
  color: $color-default-white;
  font-family: $ff-secondary;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  margin: 0;
  bottom: 20px;
  width: 100%;
  position: absolute;

  @include vp-768 {
    width: 100%;
  }
}

.trainers__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 260px;
  background-color: $swiper-overlay;
  color: $color-default-white;
  padding: 45px;
  font-family: $ff-secondary;
  flex-direction: column;
  align-items: center;
  display: none;

  @include vp-1200 {
    width: 100%;
  }

  @include vp-768 {
    width: 100%;
    height: 100%;
    padding: 35px 25px;
  }
}

.trainers__overlay-name {
  margin: 0;
  font-family: $ff-secondary;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;

  @include vp-768 {
    width: 78%;
  }
}

.trainers__overlay-tagline {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: $color-spindle-gray;
  margin-bottom: 35px;
}

.trainers__overlay-list {
  font-size: 14px;
  line-height: 21px;
  padding-left: 15px;
  list-style-type: disc;
}

.trainers__item {
  margin-right: 0;

  @include vp-1200 {
    margin: 0;
  }

  &:hover,
  &:focus,
  &:focus-within {
    .trainers__overlay {
      display: flex;
    }
  }
}

.trainers__overlay-item:not(:last-child) {
  margin-bottom: 20px;

  @include vp-768 {
    margin-bottom: 5px;
  }
}

.trainers__button {
  top: 60%;
  background: none;
  border: none;
  color: $color-default-blue;
  width: 56px;
  height: 56px;
  border: solid 1px $color-default-white;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;

  @include vp-1200 {
    top: 55%;
  }

  @include vp-768 {
    width: 35px;
    height: 35px;
    top: 55.5%;
  }
}

.trainers__button--prev::before {
  content: "";
  width: 20px;
  height: 20px;
  border-top: solid 1px #afafaf;
  border-left: solid 1px #afafaf;
  transform: rotate(-45deg);
  position: absolute;
  right: 12px;

  @include vp-768 {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 8px;
  }
}

.trainers__button--next::before {
  content: "";
  width: 20px;
  height: 20px;
  border-top: solid 1px #afafaf;
  border-left: solid 1px #afafaf;
  transform: rotate(135deg);
  position: absolute;
  left: 12px;

  @include vp-768 {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 8px;
  }
}

.trainers__button:hover,
.trainers__button:focus-visible {
  outline: solid 1px $color-default-blue;
  border-radius: 50%;

  @include vp-768 {
    outline: none;
  }
}

.trainers__button:active {
  border: $color-default-white;
  background-color: $color-default-blue;
  color: $color-default-white;
}

.trainers__button--next:active::before,
.trainers__button--prev:active::before {
  border-top: solid 1px $color-default-white;
  border-left: solid 1px $color-default-white;
}
