// Colors
// ---------------------------------

// Default

$color-default-blue: #102654;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482
$color-venetian-red: #d10a42;

//Text
$color-egyptian-blue: #103aae;
$color-whisper-gray: #e8e8e8;
$color-sapphire-blue: #102654;
$color-spindle-gray: #b6bdcc;
$color-persian-blue: #2e35ac;
$color-resolution-blue: #1c3374;

//Background
$color-background-torch-red: #ed0233;
$color-background-ghost-white: #f8f9fc;
$color-background-black-russian: #030a1a;
$color-background-resolution-blue: #1c3374;

//Form
$color-error: #ff121f;

//Overlay
$video-overlay: rgba(20, 54, 122, 0.5);
$swiper-overlay: rgba(16, 38, 84, 0.89);

// Gradient

$gradient-text-crimson-red-to-cobalt: linear-gradient(
  129deg,
  #d10a42 0%,
  #0041ca 100%
);

$gradient-button-torch-red-to-cobalt: linear-gradient(
  151deg,
  #ed0233 0%,
  #003eb7 100%
);

$gradient-background-conic: conic-gradient(
  from 150.87deg at 16.03% 39.06%,
  #b80027 -46.69deg,
  #003d85 32.24deg,
  #b80027 313.31deg,
  #003d85 392.24deg
);

$black-to-right: linear-gradient(
  90deg,
  rgba(0, 0, 0, 0.75) 0%,
  rgba(0, 0, 0, 0) 75%
);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;

$ff-primary: "Alumni Sans", "Arial", sans-serif;
$ff-secondary: "Roboto Condensed", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 319px;
$vp-768: 767px;
$vp-1200: 1199px;
$vp-1366: 1365px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
